{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="my-5 text-center  border-bottom border-dark">Health</h2>
            </div>
            <div class="col">
                <h2 class="my-5 text-center  border-bottom border-dark">Health</h2>
            </div>
            <div class="col">
                <h2 class="my-5 text-center  border-bottom border-dark">Health</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col border-end border-start ">
                {% for post in posts %}
                    {% if post.id|divisibleby:2 %}
                        <article class="w-100">
                            <h2 class="text-center">{{ post.title }}</h2>
                            <div>{{ post.description|truncatewords:50|safe }}</div>
                        </article>
                        <hr>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="col border-end border-start ">

                {% for post in posts reversed %}
                    <article class="w-100">
                        <h2 class="text-center">{{ post.title }}</h2>
                        <div>{{ post.description|truncatewords:50|safe }}</div>
                    </article>
                    <hr>

                {% endfor %}
            </div>
            <div class="col border-end border-start ">

                {% for post in posts %}
                    {% if post.id|divisibleby:3 %}
                        <article class="w-100">
                            <h2 class="text-center">{{ post.title }}</h2>
                            <div>{{ post.description|truncatewords:50|safe }}</div>
                        </article>
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
